<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>
            {%block title%}{%endblock%} | Hawaii Garage Sale.com
        </title>
        <style type="text/css">
            @import "/static/css/style.css";
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <a class="logo" href="/">Hawaii Garage Sale dot Com</a>
            </div>
            <div id="content">
                {%block content%}{%endblock%}
            </div>

            <div id="nav">
                <h2>About US</h2>
                <p>Free Garage Sale Listings in Hawaii</p>
            </div>

            <div id="footer">
                © Hawaii Garage Sale, 2010 | <a href="/">Home</a>
            </div>
        </div>
    </body>
</html>
